asdf
astropy
gwcs
ipython
jupyter
jwst
matplotlib
photutils
Pillow
-e git+https://github.com/JarronL/hxrg_ref_pixels@e07ca872a0587e0bc94a91fb46d00620529430ec#egg=ref_pixels
tshirt @ git+https://github.com/eas342/tshirt.git@eebecd429f1386b5b8d9a7c14108893bf940132b
